iframe {
    border: 0;
    width: 100%;
    min-height: 320px;
    margin-bottom: -10px;
}

figure {
    width: 100%;
}

audio {
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}