<ng-template [ngIf]="currentGoalCategory">
    <div class="row">
        <div class="col-sm-10">
            <div class="content-header">VALUES | {{currentGoalCategory.title}}</div>
            <p class="content-sub-header">You can check your current values and set new ones.</p>
        </div>
        <div class="content-header col-sm-2" style="text-align: right;">
            <button type="button" class="btn btn-raised btn-outline-goal-set-new round btn-min-width mr-1 mb-1" data-toggle="modal" data-target="#goal" (click)="openModal('createEditModal', 'goal', 'create')">+
                Set New
                Goal</button>
        </div>
    </div>

    <div class="row match-height ">
        <div class="col-sm-12 col-md-3">
            <div class="content-header">Active Goals</div>
            <app-single-goal-card *ngFor="let goal of (goals$ | async)?.upcomingGoals" [goal]="goal">
            </app-single-goal-card>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="content-header">Completed Goals</div>
            <app-single-goal-card *ngFor="let goal of (goals$ | async)?.completedGoals" [goal]="goal">
            </app-single-goal-card>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="content-header">Wellbeing</div>
            <div class="row">
                <div class="card col-4" *ngFor="let article of(articles$ |async) ">
                    <app-card-text [post]="article">
                    </app-card-text>
                </div>
            </div>
        </div>
    </div>