<div class="modal-header">
    <h4 *ngIf="isImages" class="modal-title" id="modal-title">Upload your images</h4>
    <h4 *ngIf="!isImages" class="modal-title" id="modal-title">Upload your files</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card-content">
        <div class="email-app-text card-body" style="position: relative;">
            <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
                <div class="dropzone dropzone-container" [dropzone]="isImages?configImageDrop : configFileDrop" (init)="onUploadInit($event)" (error)="onUploadError($event)" (success)="onUploadSuccess($event)" (queuecomplete)="onUploadQueueComplete($event)" (sending)="onSending($event, userId)">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-raised" (click)="upload()">Upload</button>
</div>